name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
                    - name: Docker Login
  # You may pin to the exact commit or the version.
  # uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
                      uses: docker/login-action@v3.6.0
                      with:

                        username: mayankbansal0105
    # Password or personal access token used to log against the Docker registry
                        password: 5Vnzur_276332
    # Specifies whether the given registry is ECR (auto, true or false)
                    - name: Build and push Docker images
                      uses: docker/build-push-action@v6.18.0
                      with:
                         push: true
                         tags: mayankbansal0105/phpredisadmin
                        

          
