name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
                    - name: Build and push Docker images
                      uses: docker/build-push-action@v6.18.0
                      with:
                         push: true
                         tags: mayankbansal0105/phpredisadmin
                        

          
